@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <aspan><img src="~/images/cart-5-16.ico" /></aspan>
        <aspan style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </aspan>
    </a>
}